body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0e1116 !important;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;

}

.paytone-one-regular {
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body span {
  color: #00ADB5;
}


.btn {
  background-color: #3b82f6;
  color: white !important;
  padding: 0.6rem 1.2rem;
  border-radius: 999px;
  border: none;
  cursor: pointer;
}

.sgbtn {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  color: orange !important;
  background-color: transparent;
  border: 1px solid orange;

}

.sgbtn:hover {

  border: 2px solid yellow !important;
  color: rgb(3, 251, 3) !important;
}

.navbar {
  margin: 1.5rem;
  background-color: transparent !important;
  transition: all 0.3s ease;
  z-index: 1000;


}

.navbar.scrolled {
  margin: 0;
  background-color: #0e1116 !important;
  /* solid bg or slightly transparent */
  box-shadow: 0 4px 12px rgba(5, 207, 252, 0.2);
  backdrop-filter: blur(6px);
  /* optional: glass effect */
}


.navbar-nav a {
  color: #00ADB5;
  margin: 0 1rem;
  text-decoration: none;
}

.navbar-nav a:hover {
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

#lgBtn {
  background-color: transparent;
  border: 1px solid green;
}


.Container {
  width: 100%;
  font-size: 30px;
  text-align: center;
  padding: 4rem 2rem;
  align-items: center;
  align-content: center;
  margin: 1rem;
}

.Container h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.Container h2 {
  font-family: "Paytone One", sans-serif !important;
  font-weight: 400;
  font-size: 2.5rem;
  font-weight: 500;
}

.Container h3 {
  font-size: smaller;
  color: #a1a1aa;

  margin: 1rem auto;
}

.Container p {
  color: #a1a1aa;
  max-width: 600px;
  margin: 1rem auto;
}

.ship_logo {
  max-width: 500px;
}

/* Cards */
.card {
  background-color: #343a43 !important;
}

.mb-40 {
  margin-bottom: 40px;
}

CardPad {
  background-color: #374151 !important;
  padding: 5rem !important;

}

.radius25 {
  border-radius: 25px;
}

.CardMg {
  margin: 0.2rem !important;
}

.card-img-top {
  border-radius: 50px;
  padding: 1.5rem;
}

.card-title {
  font-size: 1.5rem;
}


.card-3d {
  box-shadow: 0px 0px 12px 0px rgb(0, 0, 0);
  transition: transform 0.3s ease;
}

/* Captains */

.cap-card {
  max-width: 400px;
  background-color: #343a43;
}

.card-title {
  color: white;
}

.card-text {
  color: white !important;
}


/* Why chose section */
.why-choose-us .card {
  background-color: #343a43;
  border: none;
  transition: transform 0.3s ease;
}

.why-choose-us .card-title {
  color: #00ADB5 !important;
}

.why-choose-us .card:hover {
  transform: translateY(-5px);
}

.why-choose-us .icon {
  color: #007bff;
}

.why-choose-us h2 {
  font-family: "Paytone One", sans-serif !important;
  font-weight: 400;
  font-size: 2.5rem;
  font-weight: 500;
}

.why-choose-us h3 {
  color: #a1a1aa;
  max-width: 600px;
  margin: 1rem auto;
}

/* Faq section */
.faq-section {
  max-width: 1000px;
  margin: auto !important;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(247, 245, 245, 0.1);
}

.faq-item {
  border-bottom: 1px solid #00ADB5;
  padding: 1rem 0 0 0;
}

.faq-question {

  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.faq-question::after {
  content: '+';
  position: absolute;
  right: 0;
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.faq-question.active::after {
  content: '-';
  transform: rotate(180deg);
}

.faq-answer {
  /* display: none; */
  opacity: 0;
  padding: 0.5rem 0 0.5rem 0.5rem;
  color: #ddd;
  line-height: 1.5;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.6s ease;


}

.faq-answer.show {
  opacity: 1;
  max-height: 300px;
  /* adjust based on content */
  /* display: block; */

}






/* footer */
footer {
  text-align: center;
  color: #6b7280;
  border-top: 1px solid #374151;
}

footer ul {
  list-style-type: none;
}

footer .row {
  justify-content: space-around;
}


/* | Device          | Width (px) | Media Query                  |
| --------------- | ---------- | ---------------------------- |
| Extra small     | < 576px    | `@media (max-width: 575px)`  |
| Small (phones)  | ≥ 576px    | `@media (min-width: 576px)`  |
| Medium (tabs)   | ≥ 768px    | `@media (min-width: 768px)`  |
| Large (laptops) | ≥ 992px    | `@media (min-width: 992px)`  |
| XL (desktops)   | ≥ 1200px   | `@media (min-width: 1200px)` | */

@media (min-width: 576px) and (max-width: 992px) {
  .ship_logo {
    max-width: 400px;
  }

  .navbar {
    margin: 0 !important;
    ;
  }
}



@media (max-width: 400px) {
  .navbar{
    margin: 0.5rem;
  }
  footer p {
    font-size: small;
  }
}




@media (max-width:576px) {
  .ship_logo {
    max-width: 300px;
  }


  .navbar-nav .btn {
    display: none;
  }

  .Container .btn {

    padding: 0.2rem 1rem;
    border-radius: 999px;

    cursor: pointer;
  }

  .Container h1 {
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 700;
  }

  .Container p {
    font-size: medium;
    color: #a1a1aa;
    max-width: 600px;
    margin: 0.3rem auto;
  }

  .Container h2 {
    /* word-spacing: 0.5rem; */
    font-family: "Poppins", sans-serif !important;
    font-weight: 400;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .Container h3 {
    font-size: 1rem;
  }

  .card-img-top {
    border-radius: 25px;
    padding: 0;
  }

  .card-title {
    font-size: 1.2rem;
    padding: 0.3rem;
  }


  .why-choose-us h2 {
    font-family: "Poppins", sans-serif !important;
    font-weight: 400;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
  }

  footer ul {
    padding: 5px 0 0 0;
  }


}